/*
	HTML5 Reset :: style.css
	----------------------------------------------------------
	We have learned much from/been inspired by/taken code where offered from:

	Eric Meyer					:: http://meyerweb.com
	HTML5 Doctor				:: http://html5doctor.com
	and the HTML5 Boilerplate	:: http://html5boilerplate.com

-------------------------------------------------------------------------------*/


/* Let's default this puppy out
-------------------------------------------------------------------------------*/

html, body, body div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, menu, nav, section, time, mark, audio, video, details, summary {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-weight: normal;
  vertical-align: baseline;
  background: transparent;
}

main, article, aside, figure, footer, header, nav, section, details, summary {
  display: block;
}


/* Handle box-sizing while better addressing child elements:
   http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}


/* consider resetting the default cursor: https://gist.github.com/murtaugh/5247154 */


/* Responsive images and other embedded objects */


/* if you don't have full control over `img` tags (if you have to overcome attributes), consider adding height: auto */

img, object, embed {
  max-width: 100%;
}


/*
   Note: keeping IMG here will cause problems if you're using foreground images as sprites.
	In fact, it *will* cause problems with Google Maps' controls at small size.
	If this is the case for you, try uncommenting the following:

#map img {
		max-width: none;
}
*/


/* force a vertical scrollbar to prevent a jumpy page */

html {
  overflow-y: scroll;
}


/* we use a lot of ULs that aren't bulleted.
	you'll have to restore the bullets within content,
	which is fine because they're probably customized anyway */

ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted #000;
  cursor: help;
}


/* tables still need cellspacing="0" in the markup */

table {
  border-collapse: separate;
  border-spacing: 0;
}

th {
  font-weight: bold;
  vertical-align: bottom;
}

td {
  font-weight: normal;
  vertical-align: top;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}

pre {
  white-space: pre;
  /* CSS2 */
  white-space: pre-wrap;
  /* CSS 2.1 */
  white-space: pre-line;
  /* CSS 3 (and 2.1 as well, actually) */
  word-wrap: break-word;
  /* IE */
}

input[type="radio"] {
  vertical-align: text-bottom;
}

input[type="checkbox"] {
  vertical-align: bottom;
}

.ie7 input[type="checkbox"] {
  vertical-align: baseline;
}

.ie6 input {
  vertical-align: text-bottom;
}

select, input, textarea {
  font: 99% sans-serif;
}

table {
  font-size: inherit;
  font: 100%;
}

small {
  font-size: 85%;
}

strong {
  font-weight: bold;
}

td, td img {
  vertical-align: top;
}


/* Make sure sup and sub don't mess with your line-heights http://gist.github.com/413930 */

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}


/* standardize any monospaced elements */

pre, code, kbd, samp {
  font-family: monospace, sans-serif;
}


/* hand cursor on clickable elements */

.clickable, label, input[type=button], input[type=submit], input[type=file], button {
  cursor: pointer;
}


/* Webkit browsers add a 2px margin outside the chrome of form elements */

button, input, select, textarea {
  margin: 0;
}


/* make buttons play nice in IE */

button, input[type=button] {
  width: auto;
  overflow: visible;
}


/* scale images in IE7 more attractively */

.ie7 img {
  -ms-interpolation-mode: bicubic;
}


/* prevent BG image flicker upon hover
   (commented out as usage is rare, and the filter syntax messes with some pre-processors)
.ie6 html {filter: expression(document.execCommand("BackgroundImageCache", false, true));}
*/


/* let's clear some floats */

.clearfix:after {
  content: " ";
  display: block;
  clear: both;
}

@font-face {
  font-family: 'Raleway';
  src: url('transfonter.org-20170512-201522/Raleway-Regular.eot');
  src: url('transfonter.org-20170512-201522/Raleway-Regular.eot?#iefix') format('embedded-opentype'), url('transfonter.org-20170512-201522/Raleway-Regular.woff2') format('woff2'), url('transfonter.org-20170512-201522/Raleway-Regular.woff') format('woff'), url('transfonter.org-20170512-201522/Raleway-Regular.ttf') format('truetype'), url('transfonter.org-20170512-201522/Raleway-Regular.svg#Raleway-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway';
  src: url('transfonter.org-20170512-201522/Raleway-Bold.eot');
  src: url('transfonter.org-20170512-201522/Raleway-Bold.eot?#iefix') format('embedded-opentype'), url('transfonter.org-20170512-201522/Raleway-Bold.woff2') format('woff2'), url('transfonter.org-20170512-201522/Raleway-Bold.woff') format('woff'), url('transfonter.org-20170512-201522/Raleway-Bold.ttf') format('truetype'), url('transfonter.org-20170512-201522/Raleway-Bold.svg#Raleway-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
}

html {
  box-sizing: border-box;
  font-family: "Raleway";
}

section {
  width: 100%;
  overflow: hidden;
}

.container {
  max-width: 1200px;
  margin: auto;
  border: 1px solid red;
  /*padding-left:;
	padding-right:;
	*/
  overflow: hidden;
}

.containerpl {
  max-width: 1200px;
  margin: auto;
  height: 725px;
  border: 1px solid red;
  /*padding-left:;
	padding-right:;
	*/
  overflow: hidden;
}

#logo {
  font-family: Raleway;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: #ffffff;
  font-weight: 600;
  float: left;
  position: absolute;
  padding: 16px 1034px 14px 68px;
}

#logo span {
  color: #27c7ab;
  font-weight: 800;
}

nav {
  width: 1200px;
  height: 41px;
  font-size: 14px;
  font-family: 'Ralevay', sans-serif;
  font-style: Bold;
  color: #ffffff;
  float: right;
  background-color: #000000;
}

li {
  /*width: 64px;
	height: 10px;*/
  color: #ffffff;
  font-family: Raleway;
  font-size: 14px;
  font-weight: 700;
  line-height: 21px;
  text-transform: uppercase;
  float: right;
  padding-top: 17px;
  padding-bottom: 14px;
}

nav ul {
  padding-right: 52px;
}

nav li:last-child {
  padding-right: 52px;
}

nav li:first-child {
  padding-left: 39px;
}

[class*="box"] {
  float: left;
  overflow: hidden;
}

[class^="glyphicon glyphicon-chevron"] {
  width: 34px;
  height: 42px;
  color: #24baa0;
  font-family: Raleway;
  font-size: 78px;
  font-weight: 300;
  line-height: 20px;
}

.arrow {
  height: 42px;
  position: relative;
  margin-top: 241px;
  margin-bottom: 217px;
  margin-left: 74px;
  margin-right: 74px;
}

.arrow_right {
  padding-left: 975px;
  position: absolute;
}

.arrow_left {
  position: absolute;
}

#ch_and_t {
  height: 500px;
  background-image: linear-gradient(to top, #d0cfd7 0%, #eeeef0 34%, #fafafa 100%);
}

.chair {
  background-image: url("../images/black_chair.png");
  width: 547px;
  height: 346px;
  position: absolute;
  margin: 107px 599px 47px 54px;
}

.row_sit_on {
  border: solid 1px blue;
  position: absolute;
  margin: 143px 257px 327px 590px;
}

h1 {
  /* Style for "SIT ON OUR" */
  font-family: Raleway;
  font-size: 40px;
  line-height: 20px;
  text-transform: uppercase;
  /* Text style for "SIT ,  OUR" */
  color: #000000;
  font-weight: 500;
  text-align: center;
  padding-top: 36px;
}

h1 span {
  color: #24baa0;
  /* Text style for "ON, CHAIR" */
  font-weight: 700;
}

.row_lorem {
  border: solid 1px blue;
  width: 421px;
  height: 79px;
  /*styl czcionki*/
  color: #000000;
  font-family: Raleway;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  position: absolute;
  margin: 214px 221px 207px 558px;
}

.row_lorem p {
  text-align: center;
}

.row_button {
  position: absolute;
  margin: 326px 297px 122px 639px;
}

.button {
  width: 264px;
  height: 52px;
  border-radius: 10px;
  background-color: #24baa0;
  text-align: center;
}

.button:hover {
  background-color: red;
  opacity: 0.3;
}

.button p {
  color: #ffffff;
  font-family: Raleway;
  font-size: 24px;
  font-weight: 500;
  line-height: 20px;
  text-transform: uppercase;
  padding-top: 19px;
}

* {
  box-sizing: border-box;
}

#photo {
  height: 354px;
}

.row-price1 {
  position: relative;
}


/*część ze zdjęciami*/

.box-3a {
  background-image: url("../images/box1_img.jpg");
  width: 332px;
  height: 226px;
  /*cposition: absolute;*/
  margin: 32px 802px 96px 67px;
}

.box-3b {
  background-image: url("../images/box2_img.jpg");
  width: 331px;
  height: 226px;
  position: absolute;
  margin: 32px 444px 0px 425px;
}

.p1-white {
  width: 355px;
  height: 62px;
  opacity: 0.42;
  background-color: white;
  margin: 149px 0px 15px 0px;
}

.p2-white {
  width: 355px;
  height: 62px;
  opacity: 0.42;
  background-color: white;
  margin: 149px 0px 15px 0px;
}

.p1-green {
  width: 138px;
  height: 7px;
  background-color: #27c7ab;
  margin: -43px 0px 0px 0px;
}

.p2-green {
  width: 138px;
  height: 7px;
  background-color: #27c7ab;
  margin: -43px 0px 0px 0px;
}

.p3-green {
  width: 138px;
  height: 7px;
  background-color: #27c7ab;
  margin: 7px 179px 198px 23px;
}

#clair, #margarita, #h-nexttopicture {
  color: #000000;
  font-family: Raleway;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
}

#clair {
  margin: -29px 220px 19px 5px;
}

#margarita {
  margin: -27px 0px 0px 0px;
}

#h-nexttopicture {
  margin: 31px 33px 0px 23px;
}

#txt1-nexttopicture {
  color: #565656;
  font-family: Raleway;
  font-size: 14px;
  font-weight: 400;
  margin: -171px 33px 0px 23px;
}

#txt2-nexttopicture {
  color: #565656;
  font-family: Raleway;
  font-size: 14px;
  font-weight: 400;
  margin: 11px 33px 0px 23px;
}

.box-3c {
  width: 340px;
  height: 254px;
  border: 1px solid rgba(0, 0, 0, 0.14);
  position: absolute;
  margin: 32px 78px 0px 782px;
}

#price_list {
  height: 725px;
}

* {
  box-sizing: border-box;
}

h5 {
  color: #575757;
  font-family: Raleway;
  font-size: 22px;
  font-weight: 500;
  line-height: 20px;
  text-transform: uppercase;
  margin: 48px 1050px 660px 69px;
  position: absolute;
}


/*
.circle-S {
	width: 330px;
height: 501px;
border: 2px solid #d6d5d5;
background-color: #f9f9f9;
}
*/

.three-rectan {
  padding-top: 158px;
  position: relative;
}

.box-price-a {
  position: relative;
  padding-right: 31px;
  padding-left: 68px;
}

.box-price-b {
  position: relative;
  padding-right: 31px;
}

.box-price-c {
  position: relative;
}

.rectan {
  width: 330px;
  height: 501px;
  border: 2px solid #d6d5d5;
  background-color: #f9f9f9;
  border-width: 4px 4px 4px 4px;
  text-align: center;
  position: relative;
  padding: 40px;
  width: 330px;
  height: 501px;
  margin:
}

.circle-S {
  width: 26px;
  height: 26px;
  background-color: #c2c2c2;
  border-radius: 50%;
  border-style: solid;
  z-index: 5;
  position: absolute;
  margin: 15px 0px 0px 13px;
}

.circle-M {
  width: 57px;
  height: 57px;
  background-color: white;
  border-radius: 50%;
  position: absolute;
  margin: -75px 47px -23px 96px;
  border: 2px solid #d6d5d5;
}

.circle-L {
  width: 131px;
  height: 131px;
  border-style: solid;
  background-color: white;
  border-radius: 50%;
  position: absolute;
  margin: 81px 99px 289px 100px;
  border: 2px solid #d6d5d5;
}

.p_in_label {
  width: 326px;
  height: 46px;
  background-color: #e4e4e4;

  position: absolute;
  margin:94px -25px -18px -143px;
}


.button_join {
  width: 122px;
  height: 34px;
  border-radius: 7px;
  background-color: #27c7ab;
  position: absolute;
    margin: 246px 2px 0px 2px;
}


/*.button_join:nth-child(2){
  width: 122px;
  height: 34px;
  border-radius: 7px;
  background-color: #ffffff;
}
*/


/*
.button {
  width: 100px;
  height: 60px;
  background-color: black;
  color: white;
  border-style: solid;
  border-width: 3px;
  border-color: black;
  position: relative;
  margin: auto;
}
*/

.long_p-green {
  width: 320px;
  height: 8px;
  background-color: #27c7ab;
  margin: 75px 813px 642px 67px;
  position: absolute;
}

#form {}

input {
  width: 633px;
  height: 66px;
  border: 1px solid rgba(36, 186, 160, 0.42);
}

[placeholder] {
  color: #cacaca;
  font-family: Raleway;
  font-size: 33px;
  font-weight: 300;
  line-height: 20px;
}

[type="checkbox"] {
  border: 1px solid rgba(36, 186, 160, 0.42);
  width: 34px;
  height: 33px;
  background-color: #27c7ab;
}

#red_chair {
  background-image: url("../images/red_chair.png");
  width: 284px;
  height: 283px;
}

[type="button-send"] {
  width: 343px;
  height: 71px;
  border-radius: 8px;
  background-color: #24baa0;
}
